@import "tailwindcss";

@theme {
  --color-CarpeDiemGrey: #7C8689;
  --color-CarpeDiemGreen: #7A9705;
  --color-CarpeDiemBlueLight: #E2E4ED;
  --color-CarpeDiemWhiteSoft: #F9F9F9;
  --color-CarpeDiemGreyDark: #4B545D;
  --color-CarpeDiemSlate: #4B5675;
  --color-CarpeDiemMutedBlue: #78829D;
  --color-CarpeDiemBorder: #E5E7EB;
  --color-CarpeDiemOffWhite: #FAFAFA;
  
  --font-proxima: var(--font-proxima), ui-sans-serif, system-ui, -apple-system, sans-serif;
}

:root {
  --background: var(--color-CarpeDiemOffWhite);
  --foreground: var(--color-CarpeDiemGreyDark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-proxima);
}

